{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section id="datascience-header">
    <ul class="fly-in-text-td hidden">
        <li>D</li>
        <li>A</li>
        <li>T</li>
        <li>A</li>
        <li>S</li>
        <li>I</li>
        <li>E</li>
        <li>N</li>
        <li>C</li>
        <li>E</li>
    </ul>
</section>
<div class="container">
    <p class="text-center">
        Diesen Abschnitt habe ich dazu genutzt die Machinelearning Algorithmen und Datascience Tools, die ich in meinen Projekten gelernt und angewand habe,
        <br> interaktiv bereitzustellen. Dies hat den Zweck das Erlernte vorstellen zu können und bietet mir zugleich die Möglichkeit tiefer in die Integration
        <br>von Python und Webdevelopement einzusteigen.
    </p>
</div>
<div class="tool-cards">
    <div class="row space-50">
        <div class="card-deck ">
            <div class="card shadow">
                <div class="zoom-hover">
                    <img src="/static/images/wordcloud.png" alt="" class="card-img-top">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Word Clouds</h4>
                    <p class="card-text">A Word Cloud displays the most frequent words of a text / many text documents.
                        The more often a word occurs in a given text the bigger it is displayed.</p>
                    <a href="{% url 'upload_wordcloud_text' %}" class="btn btn-primary">Try it out.</a>
                </div>
            </div>
            <div class="card shadow">
                <div class="zoom-hover">
                    <img src="/static/images/ldavis.png" alt="" class="card-img-top">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Topic Modelling with LDA</h4>
                    <p class="card-text">Topic Modelling deduces topics from a collection of texts. It belongs to the
                        category of unsupervised Machine Learning Algorithms.</p>
                    <a href="{% url 'topic_modelling' %}" class="btn btn-primary">Try it out.</a>
                </div>
            </div>
                <div class="card shadow" style="width: 90%">
                    <div class="zoom-hover">
                        <img src="/static/images/folium-map.png" alt="" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Folium Map</h4>
                        <p class="card-text">Folium is a handy library that creates interactive maps. To these maps one can add marker for
                        facilities or other places.</p>
                        <a href="{% url 'folium' %}" class="btn btn-primary">Try it out.</a>
                    </div>
                </div>
            </div>
    </div>
</div>
</body>


{% endblock %}