{% extends "base.html" %}

{% block content %}

    <html lang="en">
        <head>
            <meta charset="UTF-8">
        </head>
        <body>
            <section class="" id="wordcloud">
                <div class="wc-header">
                    <h1>Word cloud Generator</h1>
                </div>
                <div class="text-center">
                    <div class="box white">

                            <div class="row text-center">

                                <!--input type="file" id="input-file-now" class="file-upload" />
                                <button onclick="catch_file()">Submit</button>

                                <script>
                                    function catch_file(){
                                        var x = document.getElementById("input-file-new");
                                        x.disabled = true;
                                        }
                                </script-->
                                    <form class="form" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit">Submit Your Text</button>
                                    </form>
                            </div>


                    </div>
                </div>
            </section>
        </body>
    </html>

{% endblock %}
