{% extends "base.html" %}

{% block content %}
<head>
    <h1>My Wordcloud</h1>
</head>

<body>
    <!--div class="row">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ cloud }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text"> {{ data }}.</p>
            </div>
        </div>

    </div-->

<div class="row">
    <h3>{{ object.title }}</h3>
    <img src=" data:img/png;base64, {{ cloud }}" height="500", width="1000" >
</div>
</body>
{% endblock %}