{% load static   %}

body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    }

#header{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/static/images/Hintergrund.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }


.nav-bar{
    top: 0;
    position: sticky;
    z-index: 2;
}

.navbar-nav
{
    float: right;
    text-align: right;
}

.image-feed{
    padding-top: 100px;
    padding-bot: 100px;
    padding-right: 20px;
    }

.image-box{
    left: 50%;
    }

.description{
    padding-top: 100px;
    }

.container{
    padding-top: 50px;
    }

.topic-header{
    top: 50%;
    left: 50%;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    padding-bottom: 50px;
    }

/*----------------------------home----------------------------*/

body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
/*----------------------------Header CSS----------------------------*/

.user-box
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.user-box img
{
    border-radius: 50%;
    width: 250px;
    border: 2px solid #fff;
}
.user-box h1
{
    color:#fff;
    font-weight:bold
    margin:10px;
}
.user-box p
{
    color: #fff;
    margin: 8px;
}
.scroll-btn
{
    bottom 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span
{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30px;
}
.scroll-bar
{
    animation: mover 1s infinite alternate;
}
@keyframes mover
{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}

/*----------------------------About----------------------------*/
.about
{
    padding-top: 100px;
    padding-bottom: 50px;

}
.profile-img
{
    padding-top: 100;
    height: 500px;
}
.about .col-md-6
{
    padding-right: 100px

}
.about .description
{
    padding-right: 100px;
    background: #000;
}
.skills-bar p
{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress
{
    border-radius:16px !important;
    margin-bottom: 10px;
}
.progress-bar
{
    border-radius: 16px;
    background: #000 !important;
}
/*----------------------------About----------------------------*/

.resume
{
    padding-top: 100px;
    padding-bottom: 30px;
    background: #F5F5F5;

}
.timeline
{
    list-style-type: none;
    position: relative;
}
.timeline:before
{
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29;
    width: 2px;
    height: 100%;
    z-index: 1;
}
.timeline li
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}
.timeline li h4
{
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
}
.timeline li h4 span
{
    font-weight: bold;
    color: #ccc;
}
.timeline li:before
{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}
/*----------------------------About----------------------------*/



.carousel{
    width: 80%;
    margin: auto;
}

.img-container {
  display: inline-block;
  position: relative;
}

.carousel-caption h5{
    color: black;
}
.carousel-indicators{
    filter: invert(1);
}

.carousel-caption h6{
    color: black;
}



.projects
{
    padding-top: 100px;
}
.project-images
{
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;

}
.projects .description
{
   height: 150px
}
.projects .facts
{
    padding-top: 20px;
}
.timeline-projects
{
    list-style-type: none;
    position: relative;
}
.timeline-projects li
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}
.timeline-projects li h4
{
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
}
.timeline-projects li h4 span
{
    font-weight: bold;
    color: #ccc;
}


/*----------------------------IBM Video------------------------*/
.ibm-capstone-video
{
    padding-top: 100px
}
/*----------------------------About----------------------------*/

.services
{
    padding-top: 50px;
    padding-bottom: 50px;

}
.services h1
{
    margin-bottom: 15px;
}
.services-box
{
    background: #f5f5f5;
    padding: 10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;

}
.services-box .fa
{
    margin: 0 10px;
    font-size: 20px;
}
.services-box span
{
    margin: 1px;
    font-size: 20px;
    font-weight: bold;
}
.services-box
{
    font-size: 15px;
    margin-top: 20px;
    color: #000;
}
.services-box:hover
{
    background: #000;
    color: #fff;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.5s;
}
/*----------------------------Kontakt----------------------------*/

.contact
{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #000;
    color: #fff;
}
.contact .btn
{
    padding: 10px 25px 10px 25px;
    margin: 10px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
}
.contact btn:focus
{
    box-shadow: none !important;
}
.contact .btn:hover
{
    border: 2px solid #000 !important;
    background: #000 !important;
    transition: 0.6s;
}
.contact .btn .fa
{
    margin-right: 10
}
.footer
{
    background: #000;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;
}
/*---------------------------- Cards ----------------------------*/
.project-card-img{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    }

.project-card-right{
    padding-left: 55%;
    padding-top: 10vh;
    align: auto;
    text-align: left;
    width: 90%;
    }

.project-card-left{
    padding-top: 10vh;
    padding-left: 5%;
    text-align: left;
    align: auto;
    width: 40%;
    }

.card-img-med{
    height: 30vh;
    width: auto;
    margin: auto;
    position:center;
    }

.w-90{
    width: 90%;}

/*---------------------------- Zoom ----------------------------*/

.zoom{
    transition: transform: 1.2s;
    }

.zoom:hover{
    transform: scale(1.55);
    }

.zoom-hover{
    overflow: hidden;
    }
.zoom-hover img{
    transition: all 0.5s ease;
    }

.zoom-hover:hover img{
    transform:scale(1.25);
    }
/*---------------------------- Modal ----------------------------*/

.btn-collapsible-project{
    padding-top: 20px;
    padding-left: 10%;
    }

.modal-img{
    width: 80vh;
    height: auto;
    }
.modal-fig{
    padding-bottom: 20px;
    }
/*---------------------------- Fly in Text Top Bot ----------------------------*/
.fly-in-text-top{
    list-style: none;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    }

.fly-in-text-bot{
    list-style: none;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    }

.mid-top{
    padding-top: 40%;
}

.mid-bot{
    padding-top: 60%;
}

.mid{
    padding-top: 50%;
}
/*---------------------------- Fly in Text Scatter ----------------------------*/
.fly-in-text{
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    }

.fly-in-text li{
    display: inline-block;
    margin-right: 40px;
    font-family: Open Sans, Arial;
    font-weight: 300;
    font-size: 4em;
    transition: all 2.5s ease;
    opacity: 1;
    }

.fly-in-text li:last-child{
    margin-right:0;}

.fly-in-text.hidden li{
    opacity:0;
    }

.fly-in-text.hidden li:nth-child(1) {transform: translateX(-200px) translateY(-200px);}
.fly-in-text.hidden li:nth-child(2) {transform: translateX(20px) translateY(100px);}
.fly-in-text.hidden li:nth-child(3) {transform: translateX(-150px) translateY(-80px);}
.fly-in-text.hidden li:nth-child(4) {transform: translateX(10px) translateY(80px);}
.fly-in-text.hidden li:nth-child(5) {transform: translateX(200px) translateY(140px);}
.fly-in-text.hidden li:nth-child(6) {transform: translateX(-320px) translateY(-260px);}
.fly-in-text.hidden li:nth-child(7) {transform: translateX(-120px) translateY(-100px);}
.fly-in-text.hidden li:nth-child(8) {transform: translateX(130px) translateY(160px);}

/*---------------------------- Fly in Text top/down ----------------------------*/
.fly-in-text-td{
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    }

.fly-in-text-td li{
    display: inline-block;
    margin-right: 40px;
    font-family: Open Sans, Arial;
    font-weight: 300;
    font-size: 4em;
    transition: all 2.5s ease;
    opacity: 1;
    }

.fly-in-text-td li:last-child{
    margin-right:0;}

.fly-in-text-td.hidden li{
    opacity:0;
    }

.fly-in-text-td.hidden li:nth-child(1) {transform: translateX(0px) translateY(-200px);}
.fly-in-text-td.hidden li:nth-child(2) {transform: translateX(0px) translateY(-200px);}
.fly-in-text-td.hidden li:nth-child(3) {transform: translateX(0px) translateY(-200px);}
.fly-in-text-td.hidden li:nth-child(4) {transform: translateX(0px) translateY(-200px);}
.fly-in-text-td.hidden li:nth-child(5) {transform: translateX(0px) translateY(200px);}
.fly-in-text-td.hidden li:nth-child(6) {transform: translateX(0px) translateY(200px);}
.fly-in-text-td.hidden li:nth-child(7) {transform: translateX(0px) translateY(200px);}
.fly-in-text-td.hidden li:nth-child(8) {transform: translateX(0px) translateY(200px);}
.fly-in-text-td.hidden li:nth-child(9) {transform: translateX(0px) translateY(200px);}
.fly-in-text-td.hidden li:nth-child(10) {transform: translateX(0px) translateY(200px);}

.big-white{

    color: #fff;
    }
/*---------------------------- Global ----------------------------*/
#tool-menue b {
    cursor: pointer;
}
.black-text{
    color: black;
}
.mid-col{
    width: 80%;
    margin: 0 auto;
}
.block{
    text-align: justify;
}

#color_detection_header{
    background: url("/static/images/Angkor-watt.jpg");
}

#topic_modelling{
    background-color: #fff;
    }

#folium{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("/static/images/earth.png");}

.folium-map{
    width: 80%;
    margin: auto;
}

#datascience-header{
    background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("/static/images/nepal-mountains.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;}

.tool-cards{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    }

.space-50{
    padding-bottom: 50px;}

.header-stripe{
    height: 20vh;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 38.5%;
    }

.grey{
    background: #1C2833;}

.font-white{
    color: #fff;
    font-weight: bold:
    margin: 8px;
    }
.box{
    width: 80%;
    height: 70vh;
    border-style: groove;
    margin: auto;
}
.form-box{
    padding-left: 20px;
    width: 50%;
    height: 50vh;
    border-style: groove;
    }

.padding-left{
    padding-left: 10vh;
    }

.white{
    background: #fff;
    color: #fff;
    }

.form{
    /*padding-left:10vh;
    padding-top: 10vh;*/
    align:auto;
    }

.header1{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.heading{
    padding-top: 50vh;
    font-weight: bold;
    margin: 20px;
    }

.diagonal-area {
  position: relative;
  width: 100%;
  height: 100%;
}
.picture-box-left, .picture-box-right, box-left, box-right {
  position: absolute;
  width: 100%;
    height:100vh;
}

.picture-box-left {
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 55% 0%, 30% 100%, 0% 100%);
  clip-path: polygon(0 0, 55% 0%, 30% 100%, 0% 100%);
}

.text-box-right{
  -webkit-clip-path: polygon(55% 0%, 100% 0%, 100% 100%, 30% 100%);
  clip-path: polygon(55% 0%, 100% 0%, 100% 100%, 30% 100%);
}

.picture-box-right {
  right: 0;
  top: 0;
  -webkit-clip-path: polygon(45% 0, 100% 0%, 100% 100%, 70% 100%);
  clip-path: polygon(45% 0, 100% 0%, 100% 100%, 70% 100%);
  text-align: right;
}

.text-box-left {
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 45% 0%, 70% 100%, 0% 100%);
  clip-path: polygon(0 0, 45% 0%, 70% 100%, 0% 100%);
}

.quantum-computing{
    background: url("/static/images/quantumcomputer.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.arduino{
    background: url("/static/images/gartenhäuschen1.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
}
.ibm-zertifizierung{
    background: url("/static/images/nepal-larkee-pass.jpg");
    background-size: cover;
    padding-left. 50%;
    background-repeat: no-repeat;
}
.webprogrammierung{
    background: url("/static/images/Webprogrammierung.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.diagonal-project-img-left{
    padding-top: 20vh;
    padding-left: 0px;
    width: 80%;
    height: auto;

    }

.diagonal-project-img-right{
    padding-top: 30vh;
    padding-right: 20vh;
    width: 80%;
    height: auto;
    }
.diagonal-project-video-right{
    padding-top: 20vh;
    padding-right: 10vh;
    width: 80%;
    height: auto;
    }

.transparent{
  background-color: grey;
  opacity: 0.85;
    }

.project-header-right{
    padding-right: 50px;

    }

.col-md-6-img{
    width: 70%;
    }
/*----------------------------NLP - Wordcloud----------------------------*/

#wordcloud{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("/static/images/wordcloud.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.center-img{
    margin: auto;
    }
.wc-img{
    width: 100%;
    height: auto;}

.wc-header{
    /*color: #f5f5f5;*/
    padding-top: 20px;
    left: 50%;
    right:50%;
    font-weight: bold;
    margin: 10px;
    padding-bottom: 50px;
    text-align: center;
    }

.code-description{
    padding-top: 50px;
    padding-bottom: 50px;
    }

.tool-tryout{
    background-color: #f5f5f5;
    height: 100vh;
    }

.code-img {
  -webkit-border-radius: 10px;
}

.description-background{
  height: 80%;
  position: relative;
  /*border: 3px solid black;*/
  /*background-color: #F8F9F9;*/
  margin: 0;
  position: absolute;
    top: 50%;
    right: 10vh;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
    }
 /*----------------------------Projects----------------------------*/
#projects-header{
        background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("/static/images/nepal-hiking.jpg");
        background-size: cover;
        margin: auto;
        background-repeat: no-repeat;
    }